---
import Layout from '../../layouts/Layout.astro';
---

<Layout description="Hojas de vida" title="HV Computadores">
    <section class="py-16 sm:py-20">
        <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <dl class="grid gap-6 lg:grid-cols-3">
                <a
                    href="https://drive.google.com/drive/folders/1KYhIEi6RDfYoQB8NQJaqS-32XGExPkew?usp=drive_link"
                    class="rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10"
                >
                    <dd class="flex h-full flex-col justify-between gap-12">
                        <div class="text-base font-medium">
                            <p>Área administrativa</p>
                        </div>
                    </dd>
                </a>

                <a
                    href="https://drive.google.com/drive/folders/1cN5l5zqp18VB9RiFe3rvhSk5hZdeAnmg?usp=drive_link"
                    class="rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10"
                >
                    <dd class="flex h-full flex-col justify-between gap-12">
                        <p class="text-base font-medium">Área asistencial</p>
                    </dd>
                </a>
            </dl>
        </div>

    </section>
</Layout>
