---
import Layout from '../../layouts/Layout.astro';
---

<Layout description="Documentos Legales" title="Documentos Legales">
    <section class="py-16 sm:py-20">
        <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <dl class="grid gap-6 lg:grid-cols-3">
                <a
                    href="https://drive.google.com/drive/folders/1xIrl4zLEwDzObE_7cn8y3El7LDEUAHIx?usp=drive_link"
                    class="rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10"
                >
                    <dd class="flex h-full flex-col justify-between gap-12">
                        <div class="text-base font-medium">
                            <p>Contrato</p>
                        </div>
                    </dd>
                </a>

                <a
                    href="https://drive.google.com/drive/folders/114QdWa7PQys2Ozk_2m__k4dfCeKnX-n9?usp=drive_link"
                    class="rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10"
                >
                    <dd class="flex h-full flex-col justify-between gap-12">
                        <p class="text-base font-medium">Documentos legales</p>
                    </dd>
                </a>

                <a
                    href="https://drive.google.com/drive/folders/1gs_IsQb9M7xu8RUj8jB_Ti9iGpXxz5IO?usp=drive_link"
                    class="rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10"
                >
                    <dd class="flex h-full flex-col justify-between gap-12">
                        <p class="text-base font-medium">Hoja de vida Ingeniero de Sistemas</p>
                    </dd>
                </a>
            </dl>
        </div>
    </section>
</Layout>
